/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
hr {

}
/* HEADER */
header {
  /* background-color: royalblue; */
}

header .inner {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


header .logo {
  /* height: 100px; */
  transform:scale(0.9,0.9);
  position: absolute;
  margin: auto ;
  /* display:none; */
}



header .top-menu {
  display: flex;
  width: 100%;
}

/*등산정보 커뮤니티 등등 매뉴바*/
header .top-menu ul.main-menu {
  font-family: 'Nanum Gothic Bold', sans-serif;
  display: flex;
  /* margin-top: 90px; */
  margin: 90px auto;

}
header .top-menu ul.main-menu li {
  position: relative;
  left: 210px;
  top: 10px;
}

header .top-menu ul.main-menu li a {
  background-color: white;
  font-size: 17px;
  font-weight: 800;
  padding: 11px 20px;
  margin: 0 10px 0 10px;
  display: block;
  color: #000;
}

/*로그인 회원가입*/
header .top-menu ul.account {
  font-family: Arial, sans-serif;
  display: flex;
}


header .top-menu ul.account li {
  position: relative;
  top: 45px;
  left: -100px;
}

/*작대기*/
/* header .top-menu ul.account li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: none;
} */

header .top-menu ul.account li:first-child::before {
  display: none;
}

header .top-menu ul.account li a {

  background-color: white;
  font-size: 18px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .top-menu ul.account li a:hover {
  color: #000;
}

/*돋보기*/
header .top-menu .search {
  height: 30px;
  top: 55px;
  position: relative;
  display: flex;
  left: -120px;
  visibility: hidden;
}
header .top-menu .search select {
  width: 70px;
  height: 30px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;

}

header .top-menu .search input {
  width: 240px;
  height: 30px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;

}

header .top-menu .search input {
  border-color: #ccc;
}

header .top-menu .search .material-icons {
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 2px;
  right: 5px;
  margin: auto;
}
/* 수평줄 */
hr {
  z-index: 1;
  content: "";
  width : 1080px;
  height : 1px;
  background-color: #ebebeb;
  position: absolute;
  top: 100px;
  bottom: 0;
  margin: 0 0 0 0;
  left: 10px;
}