@font-face {
    font-family: 'Montserrat';
    src: url("/font/Montserrat-Regular.ttf");
}

.mainBox {

    position: relative;
    flex-direction: column;

    display: flex;
    justify-content: center;
    position: relative;

    width: 1000px;
    height: 350px;
    margin:auto;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
}
.selectBox {
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-left:3%;
    margin-bottom: 2%;
    
}
select {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    margin:20px;
    background: #FFFFFF;
    color: #666666;
    border-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

select:hover{
    cursor:pointer;
    filter : brightness(85%);
}



.countBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.plus {
    width: 69px;
    height: 51px;
    background: #84B592;
    border: 4px solid #84B592;
    font-size: 22px;

    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 100px 100px 0px;
    color: #FFFFFF;
}

.plus:hover{
    cursor: pointer;
    filter : brightness(85%);
}

.minus {
    width: 69px;
    height: 51px;
    font-size: 28px;
    background: #84B592;
    border: 4px solid #84B592;
    /* Depth / Flat */

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 100px 0px 0px 100px;
    color: #FFFFFF;
}

.minus:hover{
    cursor: pointer;
    filter : brightness(85%);
}

#result{
    position: relative;
    width : 60px;
    height: 49.5px;
    background: #FFFFFF;
    /* Color/Function/Disabled */
    border: 1px solid #95A3D4;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */

    color: #000000;
}

h1{
    width: 100px;
    height: 24px;
    margin-left:5.3%;
    margin-right:2%;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.dateBox{
    margin-left: 4.8%;
    display: flex;
    flex-direction: row;
}

h2  {
    width: 100px;
    height: 24px;
    margin-left:10%;
    margin-right:2%;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}


input[type="date"] {
    box-sizing: border-box;
    margin-top: 1%;
    width: 375px;
    height: 42px;
    margin-left: 2.7%;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
  }
  
  /* 포커스 상태일 때의 스타일링 */
input[type="date"]:focus {
    outline: none;
    border-color: #84B592;
    box-shadow: 0 0 5px #84B592;
  }

  
input[type="date"]:hover {
    cursor: pointer;
}
  

.textBox{
    position: relative;
    flex-direction: column;

    display: flex;
    justify-content: center;
    position: relative;

    width: 1000px;
    height: 800px;
    margin:auto;
    margin-top:2%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
}

#title {
    width: 800px;
    height: 42px;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    margin:auto;
}

#content {
    width: 800px;
    height: 420px;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    margin:auto;
}

#submit {
    width: 727px;
    height: 56px;
    text-align: center;

    display: flex;
    justify-content: center;
    margin:auto;

    background: #84B592;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

#submit:hover{
    cursor: pointer;
    filter : brightness(85%);
}


