.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1113px;
    height: 130px;
    margin : auto;


    background: #C4E7CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

select {
    position: relative;
    width: 308px;
    height: 40px;
    border-radius: 5px;
    margin:20px;
    background: #FFFFFF;
    color: #666666;
    border-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    background: #FFFFFF;
    border-radius: 12px;
    color: #000000;
    border-color : gray;
    border-width: 1px;
}

.e{
    position: relative;
    float :left;
    left:60%;
    display:flex;

}

#joiningBtn{
    box-sizing: border-box;
    background: #F7FAFC;
    border: 1px solid #E8E8E8;
    margin-right:10px;
}

.button{
    position: relative;
    width: 130px;
    height: 36px;
    margin: auto;
    margin-left:15px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    background: #FFFFFF;
    border-radius: 12px;
    color: #000000;
    border-color : gray;
    border-width: 1px;
}

.button:hover,
.button.active {
    background: limegreen;
    color: white;
}
.button:visited {
    background: #7ea338;
    color: white;
}
.button {
    border: 0;
}

section {
    margin-top:5%;
    margin-left:8%;
}

section .box {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 256px;
    margin-top: 5%;
    margin-right:1%;


    background: #C4E7CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

section .box p {

    background-color: transparent;
}

.textBox {
    margin-top:3%;
    padding: 0%;
    margin-left:4%;
    width: 95%;
    height: 48.8%;


}

.textBox p{
    margin:0%;

}

section .box:nth-child(2n) {
    background: #C4E7CE;
}

.topBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top:1%;

}

.roadView {
    margin-top:4%;
    margin-left:4%;
}


.mountain {
    display: flex;
    position: relative;
    margin-top: 7%;
    margin-left:8%;
    width:70%;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    color: #000000;

    background: #84B592;
    border-radius: 20px;
}

h1{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left:4%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    color: #000000;

    background: #84B592;
    border-radius: 20px;
}


.date {
    display: flex;
    position: relative;
    margin-top: 7%;
    margin-left:10%;


    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    color: #000000;

}

.profile {
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-left:3%;
}



h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    margin-top: 2%;
    margin-left: 2%;
    color: #000000;
}

h3 {
    margin-top: 10%;
    margin-bottom: 1%;
    margin-left:65%;
    width:120%;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 31px;

    color: #000000;

    background: #84B592;
    border-radius: 20px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;

}

.pagination {
    margin : auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}


.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    border-radius: 100px;
    color: white;

}



.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;

    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.topModal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top:1%;
}

.modal_mountain {
    display: flex;
    position: relative;
    margin-top: 7%;
    margin-left:8%;
    width:30%;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    color: #000000;

    background: #84B592;
    border-radius: 20px;
}
.modal_roadView {
    margin-top:7%;
    margin-left:9%;

}
.modal_mountain h1{
    margin-top: 4%;
    margin-left: 8%;
}

.modal_recruitmentComplete{
    display: flex;
    position: relative;
    float:right;

    margin-top: 7%;
    margin-left:153.5%;
    width:40%;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;

    color: #000000;

    background-color: #C4E7CE;
    border-radius: 20px;
}
.modal_recruitmentComplete h2{
    background-color: transparent;
    margin-top:3%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 6%;
}

.recruitCount h2{
    margin-top:12%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 10%;
    color:black;
}

.mainModal {
    padding: 1%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right:3%;
    background: #C4E7CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.main_2_modal{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
/* .stateModal {
    margin-top: 2%;
    padding-top: 1%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top:1%;
    padding-bottom: 0%;
    margin-bottom: 0%;

} */

.stateModal {
    display: flex;
    flex-direction: row;
}

.modal_profile {
    display: flex;
    position: relative;
    margin-top: 2%;
    margin-left:3.5%;
}
.modal_profile h2{
    margin-top:4%;
    margin-left: 4%;
}
.modal_profilePhoto{
    margin-left: 3%;
}

.modal_date h1{
    margin-top: 4%;
    margin-left: 77%;
    background-color: transparent;
}

.modal_recruitment h3{
    margin-top: 4%;
    margin-left: 65%;
    background: #84B592;
    border-radius: 20px;
    width:20%;
}

.textModal h1{
    background-color: transparent;

    width: 90%;
    height: 60.8%;
    white-space: pre-wrap;
    overflow: hidden;
    padding-top: 3%;
    padding-bottom:3%;

    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top:0%;
}

.views {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.views h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
}

.views h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;

}

.commentModal {
    background: #FBFEF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 1%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
}

#text{
    width:85%;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.posting{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width:10%;
    height:55px;
    margin-left:2%;
    border-color: transparent;
}

.posting:hover{
    cursor: pointer;
    filter : brightness(90%);
}

.otherCommentmodal {
    background: #FBFEF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 1%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
}

.modal_profile2 {
    display: flex;
    position: relative;
    margin-top: 2%;
    margin-left:2%;
}
.modal_profile2 h2{
    margin-top:0.5%;
    margin-left: 1.5%;
}
.modal_profilePhoto2{
    margin-left: 0%;
}

.otherComment h1{
    background-color: transparent;
    margin-left:2%;
    margin-top:1%;
}

.chatingBtn {
    background: #84B592;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;


    margin-top:4%;
    width:100%;
    height:60px;
}

.chatingBtn:hover {
    cursor: pointer;
    filter : brightness(85%);
}

.chatingBtn h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.create {
    position: relative;
    width: 130px;
    height: 36px;
    margin: auto;
    margin-right: 5%;
    margin-top: 2%;


    float:right;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    border-radius: 12px;
    color: #FFFFFF;
    border-color : gray;
    border-width: 1px;
    background-color: limegreen;
}

.create:hover {
    cursor: pointer;
    filter : brightness(80%);
}

.update, .delete {
    background-color: transparent;
    border-color: transparent;
    width:4%;
    height:10%;
    margin-top: 2.5%;
}

.update {
    margin-left: 70%;
}

.update:hover, .delete:hover {
    filter: brightness(30%);
    cursor: pointer;
    text-decoration: underline;
}

.title h1{
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left:4%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 31px;

    color: black;
    background-color: transparent;

}