<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/communityCreate.css" />
  </head>
  <body>
    <div class="board_wrap">
      <div class="board_title">
        <strong>글쓰기</strong>
      </div>
      <div class="board_write_wrap">
        <div class="board_write">
          <div class="title">
            <form th:action="@{/posts/create}" th:object="${postDto}" method="post" enctype="multipart/form-data">
                <dl>
                  <dt>게시판</dt>
                  <dd>

                  <!--<input type="text" placeholder="게시판을 선택해주세요" />-->

                    <select th:field="*{type}">
                      <option value="">게시판을 선택해주세요</option>
                      <option th:each="type : ${types}" th:value="${type}" th:text="${type}"/>
                    </select>

                  </dd>
                </dl>
                <dl>
                <dt>제목</dt>
                <dd><input type="text" placeholder="제목 입력" th:field="*{title}" /></dd>
                </dl>
            <div class="cont">
            <textarea placeholder="내용 입력" th:field="*{content}"></textarea>
            </div>
              <input type="text" th:field="*{userId}"/>
              <input type="file" name="files" multiple/>
              <button class="on" type="submit">등록</button>
            <div class="bt_wrap">
              <a th:href="@{/posts/{type}(type=free)}">취소</a>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
