<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티수정</title>
    <link rel="stylesheet" href="/css/communityUpdate.css" />
  </head>
  <body>
    <div class="board_wrap">
      <div class="board_title">
        <strong>글 수정</strong>
      </div>
      <div class="board_write_wrap">
        <div class="board_write">
          <div class="title">
            <dl>
              <dt>제목</dt>
              <dd>
                <input
                  type="text"
                  placeholder="제목 입력"
                  value="글 제목이 들어갑니다"
                />
              </dd>
            </dl>
          </div>
          <div class="cont">
            <textarea placeholder="내용 입력">
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.
              글 내용이 들어갑니다.</textarea
            >
          </div>
        </div>
        <div class="bt_wrap">
          <a href="commDetail.html" class="on">수정</a>
          <a href="commDetail.html">취소</a>
        </div>
      </div>
    </div>
  </body>
</html>
