<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등산장비 상세</title>
    <link  rel="stylesheet" href="/css/equipDetail.css">

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>
<body>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close"></span>
        <div class="topModal">
            <div class="modal_mountain">
                <div class ="modal_roadView"><img src="@{/img/roadView.png}" alt="roadview"></div>
<!--                <h1 th:text="@{}">서울시 종로구</h1>-->
            </div>

            <button  class ="modal_recruitmentComplete" onclick="change_btn(event)"><h2>거래완료</h2></button>
            <span class="modal_close"></span>
        </div>
        <div class="mainModal">
            <div class="main_2_modal">
                <div class="stateModal">
                    <div class="modal_profile">
                        <div class ="modal_profilePhoto"><img th:src="@{/img/profilePhoto.png}" alt="profile"></div>
                        <h2 th:text="@{}">상명 산악회</h2>
                    </div>
                    <!-- <div class="modal_date"><h1>2023년 2월 24일 (금)</h1>
                    </div> -->
                    <div class="modal_recruitment"><h3 th:text="@{}">판매 중</h3>
                    </div>
                </div>
                <div class="textModal">
                    <h1 th:text="@{}">안녕하세요! 상명 산악회 입니다. 이번에 단체로 바람막이를 구입하게 되었는데 여분이 많이 남게되어 몇개는 처분하려고 해서 올립니다! 한번도 안입었구 사이즈는 S 2개, M 3개, L 2개 XL 3개이고 총 10개 한번에 팝니다. 직거래 환영이요^^</h1>
                </div>
                <div class='price'>
                    <div class="cloth"><img th:src="@{/img/cloth.png}" alt="item"></div>
                    <p th:text="${#numbers.formatCurrency(param.amount)}">가격:1,250,000원</p>
                </div>

                <div class="views">
                    <div class="date" th:text="${post.createdAt}">2021.1.15</div>
                    <p class="views_w">조회수</p>
                    <p class="views_n" th:text="${post.views}">100</p>
                </div>
            </div>
            <div class="commentModal">
                <input type="text" id="text" >
                <button type="button" class="posting">게시</button>
            </div>
            <div class="otherCommentmodal">
                <div class = "modal_profile2">
                    <div class ="modal_profilePhoto2"><img th:src="@{/img/profilePhoto.png}" alt="profile"></div>
                    <h2>상명 산악회</h2>
                </div>
                <div class="otherComment" th:text="@{}">
                    <h1>아직 안 팔렸습니다.</h1>
                </div>
            </div>
            <button onClick="location.href='chating.html'" type="button" class="chatingBtn"><h1>채팅하기</h1></button>

        </div>

    </div>
</div>
</section>






</body>
</html>