<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등산장비 상세</title>
    <link  rel="stylesheet" href="/css/equipDetail.css">

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script defer src="/js/equipDetail.js"></script>
</head>
<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <div class="topModal">
                <div class="modal_mountain">
                    <div class ="modal_roadView"><img src="@{/img/roadView.png}" alt="roadview"></div>
                    <h1   th:text="${equipment.address.sidoSigungu }">시도</h1>
<!--                    <h1 class="address_label" th:field="${equipment.address.getSigungu()}">시군구</h1>-->
                </div>
                <form th:action="@{/equipment/tradeStatus/{postId}(postId=${equipment.id})}"  method="post">
                <button  class ="modal_recruitmentComplete" type="submit" th:text="${equipment.tradeStatusString}"><h2>거래완료</h2></button>
                </form>
<!--                <span class="modal_close"></span>-->
            </div>
            <div class="mainModal">
                <div class="main_2_modal">
                    <div class="stateModal">
                        <div class="modal_profile">
<!--                            이미지 추가 필요 -->
                            <div class ="modal_profilePhoto"><img src="/img/profilePhoto.png" alt="profile"></div>
                            <h2 th:text="${equipment.user.author}">상명 산악회</h2>
                        </div>
                        <!-- <div class="modal_date"><h1>2023년 2월 24일 (금)</h1>
                        </div> -->
                        </div>

                    <div class="textModal">
                        <h1 th:text="${equipment.content}">안녕하세요! 상명 산악회 입니다. 이번에 단체로 바람막이를 구입하게 되었는데 여분이 많이 남게되어 몇개는 처분하려고 해서 올립니다! 한번도 안입었구 사이즈는 S 2개, M 3개, L 2개 XL 3개이고 총 10개 한번에 팝니다. 직거래 환영이요^^</h1>
                    </div>
                    <div class='price'>
                        <div class="cloth">
                            <div th:each="file :${equipment.files}"  >
                                <img th:src="@{/equipment/files/{filename}(filename=${file.storeFileName})}" width="200px" height="200px" style="border-color: black; border-style: solid; border-width: thin; margin-left: 30px;" alt="item"></div>
                            </div>
                        <p th:text="|가격 : ${equipment.tradeCost} 원|">가격:1,250,000원</p>
                    </div>

                    <div class="views">
                        <div class="date" th:text="${equipment.createdAt}">2021.1.15</div>
                        <div class="equipment-delete" th:if="${#authentication != null and #authentication.name == equipment.user.email}">
                            <form th:action="@{/equipment/delete/{postId}(postId=${equipment.id})}" method="post">
                                <button class="button" type="submit" >삭제</button>
                            </form>
                        </div>
                        <p class="views_n" th:text="|조회수 : ${equipment.views}|" >100</p>
                    </div>
                </div>
                </div>
                <form th:if="${#authentication != null and #authentication.name != equipment.user.email}"
                      th:action="@{/equipment/chat/{equipmentId}(equipmentId=${equipment.id})}" method="post">
                    <button type="submit" class="chatingBtn"><h1>채팅하기</h1></button>
                </form>
                <button th:if="${#authentication != null and #authentication.name == equipment.user.email}"
                     th:onclick="|location.href='/chat/rooms'|"
                     class="chatingBtn">
                    <h1>채팅하기</h1>
                </button>
            </div>

        </div>
    </div>
</body>
</html>