<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delicious Mountain</title>

  <!--로고-->
  <link rel="icon" href="/img/grayLogo.png" />
   <!--브라우저 스타일 초기화-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/mainPage.css" />
  
   <script defer src="./js/main.js"></script>
</head>
<body>

  <!-- HEADER -->
 <header>
  <div class="inner">
    
    
    <a href="/" class="logo">
      <img src="/img/grayLogo.png" alt="LOGO">
    </a>
   
    <div class="top-menu">
        
      <ul class="main-menu">
        <li>
          <a href="/info">등산 정보</a>
        </li>
        <li>
          <a href="/recommand">등산 추천</a>
        </li>
        <li>
          <a href="/recommand">등산 메이트</a>
        </li>
        <li>
          <a href="/community/free">커뮤니티</a>
        </li>
        <li>
          <a href="/equipment/list">등산 장비 거래</a>
        </li>
      </ul>
      
      <div class="search">
        <form>
          <select name="select" >
            <option value="option">선택</option>
            <option value="info">등산 정보</option>
            <option value="recommand">등산 추천</option>
            <option value="mate">등산 메이트</option>
            <option value="community">커뮤니티</option>
            <option value="trade">등산 장비 거래</option>
          </select>
        </form>
        <input type="text" />
        <div class="material-icons">search</div>
      </div>

      <ul class="account">
        <li>
          <a href="/signin">Sign In</a>
        </li>
        <li>
          <a href="/template/login.html">Login</a>
        </li>
      </ul>
      <hr />
    </div>
  </div>
 </header>
 <div class="background_1">
  <div class="background_ment">
    <h1>Mountain of the week</h1>
  </div>
</div>
<img class="mountainImage" src="/img/응봉산.png">
<h2>응봉산</h2>
<button onClick="location.href='recommand.html'" type="button" class="moreBtn">more>></button>

<div class="background_2">
  <img class="greenbar" src="/img/greenbar.png" style="width: 1200px;">
</div>
<h3>오늘 <span style="color:#4FEE7C">어느 산</span>을 갈 지 <span style="color:#4FEE7C">고민</span>된다면?</h3>
<button onClick="location.href='recommand.html'" type="button" class="recommandBtn">간단 TEST하러가기>></button>

<h4>Delicious Climbing <span style="color:black">에서 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  볼 수 있는 </span>정보</h4>
<img class="mainpage_1" src="/img/mainPage_1.png" style="position: absolute; width: 164px; height: 164px; left: 390px; top: 2248px;">
<div class="mainPage_1">
  산에 대한 상세 정보
</div>
<div class="dotted_1"></div>
<img class="mainpage_2" src="/img/mainPage_2.png" style="position: absolute;width: 164px;height: 163px;left: 878px;top: 2242px;">
<div class="mainPage_2">
  등산 난이도와 소요시간
</div>
<div class="dotted_2"></div>
<img class="mainpage_3" src="/img/mainPage_3.png" style="position: absolute;width: 455px;height: 455px;left: 505px;top: 2275px;">
<div class="dotted_3"></div>
<img class="mainpage_4" src="/img/mainPage_4.png" style="position: absolute;width: 164px;height: 165px;left: 405px;top: 2605px;">
<div class="mainPage_4">
  주변 식당가 및 관광지
</div>
<div class="dotted_4"></div>
<img class="mainpage_5" src="/img/mainPage_4.png" style="position: absolute;width: 164px;height: 165px;left: 878px;top: 2605px;">
<div class="mainPage_5">
  오늘 날씨
</div>

<div class="background_3"></div>
<h5>함께 할 <span style="color:#4FEE7C">등산 메이트</span>가 필요하다면?</h5>
<button onClick="location.href='recommand.html'" type="button" class="communityBtn">Delicious Climbing 에서 만나 보세요! ></button> 

</body>
</html>