<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등산 메이트 메인화면</title>
    <link  rel="stylesheet" href="/css/mateMain.css">
    <script defer src="/js/setting.js"></script>
    <script defer src="/js/mateMain.js"></script>

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
</head>
<body>
    <div class = "mainBox">
        <div class ="selectBox">
            <select name="sido1" id="sido1"></select>
            <select name="gugun1" id="gugun1"></select>
            <select name="mountain1" id="mountain1"></select>
        </div>
    </div>

    <!-- <button type="button" class="joiningBtn">모집중인 글만 보기
    </button> -->
    <div class="e" style="font-size:20px">
        <p><input type="checkbox" id="joiningBtn">모집중인 글만 보기</p>
        <button class="button" id="open" onclick="change_btn(event)">최신 순</button>
          <button class="button" id="close" onclick="change_btn(event)">오래된 순</button>
    </div>  


    <section>
        <div class="container">
            <div class="box" >
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close"></span>
                        <div class="topModal">
                            <div class="modal_mountain">
                                <div class ="modal_roadView"><img src="/img/roadView.png" alt="roadview"></div>
                                <h1>무등산</h1>
                            </div>
                            <div class ="modal_recruitmentComplete"><h2>모집완료</h2></div>
                            <span class="modal_close"></span>
                        </div>
                        <div class="mainModal">
                            <div class="main_2_modal">
                                <div class="stateModal">
                                    <div class="modal_profile">
                                        <div class ="modal_profilePhoto"><img src="/img/profilePhoto.png" alt="profile"></div>
                                        <h2>상명 산악회</h2>
                                    </div>
                                    <div class="modal_date"><h1>2023년 2월 24일 (금)</h1>
                                    </div>
                                    <div class="modal_recruitment"><h3>모집중</h3>
                                    </div>
                                </div>
                                <div class="textModal">
                                    <h1>안녕하세요~!! 상명산악회입니다.<br>이번 산행은 무등산입니다 ~~<br>같이 재밌게 등산하실 분 찾아요 !!<br>인원은 총 6명 정도로 생각하고 있습니다.<br>많은 연락 주세요~
                                    </h1>
                                </div>
                                <div class="views">
                                    <h1>2023.02.20 조회수 1217</h1>
                                </div>
                            </div>
                            <div class="commentModal">
                                <input type="text" id="text" >
                                <button type="button" class="posting">게시</button>
                            </div>
                            <div class="otherCommentmodal">
                                <div class = "modal_profile2">
                                    <div class ="modal_profilePhoto2"><img src="/img/profilePhoto.png" alt="profile"></div>
                                    <h2>이은지</h2>
                                </div>
                                <div class="otherComment">
                                    <h1>산악회에 잘생긴 사람들 많나요?? 키 187cm이상만요. 얼굴도 강동원 급이면 좋을거같아요</h1>
                                </div>
                            </div>
                            <button type="button" class="chatingBtn"><h1>채팅하기</h1></button>
                        </div>

                    </div>
                </div>                
                <div class ="topBox">
                    <div class="mountain">
                        <div class ="roadView"><img src="/img/roadView.png" alt="roadview"></div>
                        <h1>무등산</h1>
                    </div>
                    <div class="date">2월 24일 (금)
                    </div>
                </div>
                <div class="textBox"><p>안녕하세요 같이 등산하실 분 찾아요. 안녕하세요 같이 등산하실 분 찾아요.안녕하세요 같이 등산하실 분 찾아요.안녕하세요 같이 등산하실 분 찾아요</p>

                </div>
                <div class="profile">
                    <div class ="profilePhoto"><img src="/img/profilePhoto.png" alt="profile"></div>
                    <h2>상명 산악회</h2>
                    <div class="recruitment"><h3>모집완료</h3>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class ="topBox">
                    <div class="mountain">
                        <div class ="roadView"><img src="/img/roadView.png" alt="roadview"></div>
                        <h1>무등산</h1>
                    </div>
                    <div class="date">2월 24일 (금)
                    </div>
                </div>
                <div class="textBox"><p>안녕하세요 같이 등산하실 분 찾아요. 안녕하세요 같이 등산하실 분 찾아요.안녕하세요 같이 등산하실 분 찾아요.안녕하세요 같이 등산하실 분 찾아요</p>
                </div>
                <div class="profile">
                    <div class ="profilePhoto"><img src="/img/profilePhoto.png" alt="profile"></div>
                    <h2>상명 산악회</h2>
                    <div class="recruitment"><h3>모집완료</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <p>
                    3번째 블록
                </p>
            </div>
            <div class="box">
                    <p>
                        4번째 블록
                    </p>
            </div>
            <div class="box">
                <p>
                    5번째 블록
                </p>
                </div>
                <div class="box">
                <p>
                    6번째 블록
                </p>
                </div>
                <div class="box">
                    <p>
                        7번째 블록
                    </p>
                </div>
                <div class="box">
                        <p>
                            8번째 블록
                        </p>
                </div>
        </div>
        <button type="button" class="create" th:onclick="|location.href='@{/mate/write}'|">글쓰기</button>

        <div id="content">
            <!-- 페이지 내용을 여기에 추가합니다. -->
          </div>


        <div class="pagination">
            <a href="#" class="page-link">1</a>
            <a href="#" class="page-link">2</a>
            <a href="#" class="page-link">3</a>
            <!-- 필요한 만큼 페이지 링크를 추가합니다. -->
        </div>
      </section>
    
    




</body>
</html>