<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delicous Mountain</title>

  <!--로고-->
  <link rel="icon" href="/img/Logo.png" />
   <!--브라우저 스타일 초기화-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 
  <link rel="stylesheet" href="/css/mountainInfoPhoto.css" />

  <script defer src="/js/mountainInfoPhoto.js"></script>
</head>
<body>
  <section>
    <div class="inner">
      <nav th:each="famousMountain : ${famousMountainList}">
        <a href="#" th:onclick="|window.parent.location.href='@{/mountains/{id}(id=${famousMountain.getId()})}'|">
          <img class = "ungbong" src="/img/응봉산.png" th:text="${famousMountain.getName()}">
        </a>
      </nav>


<!--      </a>-->
   </div>
  </section>
</body>
</html>