<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delicous Mountain</title>

  <!--로고-->
  <link rel="icon" href="/img/Logo.png" />
  <!--브라우저 스타일 초기화-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet" href="/css/mountainInfo.css" />

  <script defer src="/js/mountainInfo.js"></script>
</head>
</head>
<body>
<header>
  <div class="inner"></div>
</header>

<section>

  <div class="inner">
    <!-- 검색 탭 -->

    <div class="search">
      <form method="get" th:action="@{/mountains}">
        <input type="text" name="keyword" placeholder="산을 검색하세요"/>
        <div class="material-icons" >search</div>
      </form>
    </div>


    <!-- 정렬탭 -->
    <div class="dropdown">
      <button class="dropbtn">
        <span class="dropbtn_icon">more_horiz</span>
        정렬 기준
      </button>
      <div class="dropdown-content">
        <a href="#" th:href="@{/mountains(region=${param.region}, sort='name,ASC', sort='name,ASC', keyword=${param.keyword})}">가나다 순</a>
        <a href="#" th:href="@{/mountains(region=${param.region}, sort='height,DESC', sort='name,ASC', keyword=${param.keyword})}">높이 순</a>
        <a href="#" th:href="@{/mountains(region=${param.region}, sort='difficulty,DESC', sort='name,ASC', keyword=${param.keyword})}">난이도 순(상->하)</a>
        <a href="#" th:href="@{/mountains(region=${param.region}, sort='difficulty,ASC', sort='name,DESC', keyword=${param.keyword})}">난이도 역순(하->순)</a>
<!--        <a href="#" th:href="@{/mountains(region=${param.region}, sort='likes,DESC', sort='name,ASC', keyword=${param.keyword})}">추천수 순</a>-->
      </div>
    </div>
    <!-- 지도시작 -->
    <img src="/img/map.png" alt="map" class="map"  />
    <div class="seoul">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <br>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='SEOUL_GYEONGGI', sort=${param.sort})}">서울/경기</a>
    </div>
    <div class="gangwon">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='GANGWON', sort=${param.sort})}">강원도</a>
    </div>
    <div class="chungbuk">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='CHUNGCHEONGBUKDO', sort=${param.sort})}">충청북도</a>
    </div>
    <div class="chungnam">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='CHUNGCHEONGNAMDO', sort=${param.sort})}">충청남도</a>
    </div>
    <div class="jeonbuk">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='JEOLLABUKDO', sort=${param.sort})}">전라북도</a>
    </div>
    <div class="jeonnam">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='JEOLLANAMDO', sort=${param.sort})}">전라남도</a>
    </div>
    <div class="gyungbuk">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='GYEONGSANGBUKDO', sort=${param.sort})}">경상북도</a>
    </div>
    <div class="gyungnam">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='GYEONGSANGNAMDO', sort=${param.sort})}">경상남도</a>
    </div>
    <div class="jeju">
          <span class="material-icons">
            arrow_drop_down
            </span>
      <a href="javascriptLvoid(0)" th:href="@{/mountains(region='JEJU', sort=${param.sort})}">제주도</a>
    </div>


    <!-- 사진 스크롤 iframe -->
    <iframe src="moutainInfoPhoto.html" th:src="@{/mountains/iframe(region=${param.region}, sort=${param.sort}, keyword=${param.keyword})}" class="photos"></iframe>

  </div>
</section>

</body>
</html>