<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link  rel="stylesheet" href="/css/start.css">
</head>
<body>
    <div class ="Logo"><img src="/img/Logo.png" alt="Logo"></div>
    <button type="button" class="loginBtn">
            <strong>Login</strong>
    </button>
    <div class = "start_Bg">
        <h1>나에게 딱 맞는 산을 <span style="color:#0FB900">추천</span>받고 싶다면?<br>
        등산이 하고 싶은데 <span style="color:#0FB900">같이 할 사람</span>이 없다면?<br>
        산의 <span style="color:#0FB900">난이도</span>가 궁금하다면?<br>
        산에 대해 더 <span style="color:#0FB900">궁금하다면?</span><br></h1>
        <h2>Let's enjoy the pleasures of nature together</h2>
    </div>
    <button type="button" class="startBtn">
        Started
    </button>
</body>
</html>