spring:
  batch:
    jdbc:
      initialize-schema: always
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    url: jdbc:h2:tcp://localhost/~/delicious-climbing
  h2:
    console:
      enabled: 'true'
      path: /h2-console
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: 'true'
        show_sql: 'true'
    show-sql: 'true'
    hibernate:
      ddl-auto: none
  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html

